<div class="bg-contrast p-5">
  <div class="mb-5">
    <h2 class="text-secondary text-bold"> {{ data.title }}</h2>
  </div>
  <div class="mb-5">
    <p>{{ data.message }}</p>
  </div>
  <div class="flex">
    <button class="bg-secondary hover:opacity-80 text-contrast font-semibold rounded-md py-2 px-4 w-full me-2" mat-dialog-close (click)="onDismiss()">No</button>
    <button class="bg-primary hover:opacity-80 text-contrast font-semibold rounded-md py-2 px-4 w-full ms-2" mat-dialog-close cdkFocusInitial (click)="onConfirm()">Yes</button>
  </div>
</div>
