<div class="fixed top-4 left-1/2 -translate-x-1/2 transform- z-50 flex flex-col gap-4">
  <div class="relative w-[400px] border-l-4 p-4 rounded-lg"
       [ngClass]="'border-' + toast.type + '-700' + ' bg-' + toast.type + '-300' + ' text-' + toast.type + '-700'"
       *ngFor="let toast of toastList; index as i">
    <button class="absolute right-4 top-4 hover:opacity-30" (click)="removeToast(toast.id)">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 14 14"><path fill="currentColor" fill-rule="evenodd" d="M1.707.293A1 1 0 0 0 .293 1.707L5.586 7L.293 12.293a1 1 0 1 0 1.414 1.414L7 8.414l5.293 5.293a1 1 0 0 0 1.414-1.414L8.414 7l5.293-5.293A1 1 0 0 0 12.293.293L7 5.586z" clip-rule="evenodd"/></svg>
    </button>
    <p class="text-lg font-semibold">
      {{ toast.type }}
    </p>
    <p>{{toast.message }}</p>
  </div>
</div>
