<app-navbar />
<div class="horizontal-scroll-container flex h-screen w-screen overflow-visible flex-col">
  <div class="flex-grow flex gap-6 items-end test px-10">
    <div
      class="scroll-item h-[85vh] flex-shrink-0 border-2 shadow-xl rounded-2xl p-4 w-fit flex flex-col gap-4 mb-5"
      *ngFor="let category of this.categoryServices.categorySubject.value"
      [ngStyle]="{'border-color': category.color, 'background-color': category.color + '1A'}"
    >
      <div class="flex justify-between items-center">
        <div class="cursor-pointer" (click)="updateCategory(category)">
          <h2 class="text-3xl font-bold uppercase">{{ category.name }}</h2>
        </div>
        <button
          class="middle none center mr-3 rounded-lg border border-pink-500 py-3 px-6 font-sans text-xs font-bold uppercase text-pink-500 transition-all hover:opacity-75 focus:ring focus:ring-pink-200 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
          [ngStyle]="{'border-color': category.color, 'color': category.color}"
          data-ripple-dark="true"
          (click)="createTodo(category.id)"
        >
          create todo
        </button>
      </div>
      <div class="flex flex-col gap-6 overflow-y-auto min-w-[362px] h-full">
        <app-todo *ngFor="let todo of category.todos" [todo]="todo"/>
      </div>
    </div>
  </div>
</div>
