<div class="bg-contrast p-5">
  <div class="mb-5 flex justify-between">
    <h2 class="text-secondary text-bold">Category</h2>
    <div class="text-red-500 cursor-pointer m-0" *ngIf="data.action === 'update'" (click)="onDelete()">
      <svg xmlns="http://www.w3.org/2000/svg" width="2.5em" height="2.5em" viewBox="0 0 24 24"><path fill="#4b5563" d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zM9 17h2V8H9zm4 0h2V8h-2zM7 6v13z"/></svg>
    </div>
  </div>
  <form [formGroup]="categoryForm">
    <div class="mb-5">
      <div class="mb-3">
        <label for="name" class="block text-secondary">Name</label>
        <input type="text" id="name" formControlName="name" name="name" class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500" autocomplete="off">
        <div class="text-danger" *ngIf="categoryForm.get('name')?.errors?.['required'] && categoryForm.get('name')?.touched">
          Name is required
        </div>
      </div>
      <div>
        <label for="color" class="block text-secondary">Color</label>
        <input type="color" id="color" formControlName="color" name="color" class="border h-10 w-full border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500" autocomplete="off">
      </div>
    </div>
    <div class="flex">
      <button class="bg-secondary hover:opacity-80 text-contrast font-semibold rounded-md py-2 px-4 w-full me-2" mat-dialog-close (click)="onDismiss()">Cancel</button>
      <button [disabled]="categoryForm.invalid" class="bg-primary hover:opacity-80 text-contrast font-semibold rounded-md py-2 px-4 w-full ms-2" mat-dialog-close cdkFocusInitial (click)="onConfirm()">
        @if (data.action === 'create') {
          Create
        }

        @if (data.action === 'update') {
          Update
        }
      </button>
    </div>
  </form>
</div>
