<div class="bg-contrast flex justify-center items-center h-screen">
  <div class="absolute z-50 top-0 w-1/2 h-screen bg-secondary flex justify-center items-center transition-all duration-500 ease-in-out"
       [ngClass]="isLogin ? 'left-0' : 'left-1/2'">
    <h1 class="text-6xl font-montserrat text-contrast font-bold">
      Todo-Webfullstack
    </h1>
  </div>
  <!--  REGISTER PAGE-->
  <div class="lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2">
    <h1 class="text-2xl font-semibold mb-4">Register</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()"
          class="flex flex-col gap-4">
      <div>
        <div class="inputAnim">
          <input type="text" placeholder=" " id="nameRegister" formControlName="nameRegister" name="nameRegister" class="w-full border-b border-gray-300 py-2 px-3 focus:outline-none focus:border-blue-500" autocomplete="off"
                 [ngClass]="(registerForm.get('nameRegister')?.errors?.['required'] && registerForm.get('nameRegister')?.touched ||
                 registerForm.get('nameRegister')?.errors?.['minlength'] && registerForm.get('nameRegister')?.touched)?
                 ' border-red-500' : ''">
          <label for="nameRegister" class="block text-secondary">Name</label>
        </div>
        <div class="error">
          <div class="error-item text-danger" *ngIf="registerForm.get('nameRegister')?.errors?.['required'] && registerForm.get('nameRegister')?.touched">
            Name is required*
          </div>
          <div class="error-item text-danger" *ngIf="registerForm.get('nameRegister')?.errors?.['minlength'] && registerForm.get('nameRegister')?.touched">
            Name must be at least 3 characters long*
          </div>
        </div>
      </div>
      <div>
        <div class="inputAnim">
          <input type="email" id="emailRegister" placeholder=" " formControlName="emailRegister" name="emailRegister" class="w-full border-b border-gray-300 py-2 px-3 focus:outline-none focus:border-blue-500" autocomplete="off"
                 [ngClass]="(registerForm.get('emailRegister')?.errors?.['required'] && registerForm.get('emailRegister')?.touched)? ' border-red-500' : ''">
          <label for="emailRegister" class="block text-secondary">Email</label>
        </div>
        <div class="error">
          <div class="error-item text-danger" *ngIf="registerForm.get('emailRegister')?.errors?.['required'] && registerForm.get('emailRegister')?.touched">
            Email is required*
          </div>
        </div>
      </div>
      <div>
        <div class="inputAnim">
          <input type="password" id="passwordRegister" placeholder=" " formControlName="passwordRegister" name="passwordRegister" class="w-full border-b border-gray-300 py-2 px-3 focus:outline-none focus:border-blue-500" autocomplete="off">
          <label for="passwordRegister" class="block text-secondary">Password</label>
        </div>
        <div class="error"></div>
      </div>
      <div>
        <div class="inputAnim">
          <input type="password" id="repeatPasswordRegister" placeholder=" " formControlName="repeatPasswordRegister" name="repeatPasswordRegister" class="w-full border-b border-gray-300 py-2 px-3 focus:outline-none focus:border-blue-500" autocomplete="off"
                 [ngClass]="(registerForm.hasError('passwordMismatch') && (registerForm.get('repeatPasswordRegister')?.touched || registerForm.get('repeatPasswordRegister')?.dirty))? ' border-red-500' : ''">
          <label for="repeatPasswordRegister" class="block text-secondary">Repeat Password</label>
        </div>
        <div class="error">
          <div class="error-item text-danger" *ngIf="registerForm.hasError('passwordMismatch') && (registerForm.get('repeatPasswordRegister')?.touched || registerForm.get('repeatPasswordRegister')?.dirty)">
            Passwords do not match*
          </div>
        </div>
      </div>
      <button type="submit" [disabled]="registerForm.invalid" class="bg-primary hover:opacity-80 text-contrast font-semibold rounded-md py-2 px-4 w-full">Register</button>
    </form>
    <div class="mt-6 text-secondary text-center">
      <a>Already have an account ? <span class="hover:underline hover:text-primary cursor-pointer" (click)="switchMode()">Login</span></a>
    </div>
  </div>
  <!-- LOGIN PAGE -->
  <div class="lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2">
    <h1 class="text-2xl font-semibold mb-4">Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
      <div class="mb-4">
        <div class="inputAnim">
          <input type="text" id="emailLogin" placeholder=" " formControlName="emailLogin" name="emailLogin" class="w-full border-b border-gray-300 py-2 px-3 focus:outline-none focus:border-blue-500" autocomplete="off"
          [ngClass]="(loginForm.get('emailLogin')?.errors?.['required'] && loginForm.get('emailLogin')?.touched)? ' border-red-500' : ''">
          <label for="emailLogin" class="block text-secondary">Email</label>
        </div>
        <div class="error">
          <div class="error-item text-danger" *ngIf="loginForm.get('emailLogin')?.errors?.['required'] && loginForm.get('emailLogin')?.touched">
            Email is required
          </div>
        </div>
      </div>
      <div class="mb-4">
        <div class="inputAnim">
          <input type="password" id="passwordLogin" placeholder=" " formControlName="passwordLogin" name="passwordLogin" class="w-full border-b border-gray-300 py-2 px-3 focus:outline-none focus:border-blue-500" autocomplete="off">
          <label for="passwordLogin" class="block text-secondary">Password</label>
        </div>
        <div class="error"></div>
      </div>
      <button type="submit" [disabled]="loginForm.invalid" class="bg-primary hover:opacity-80 text-contrast font-semibold rounded-md py-2 px-4 w-full">Login</button>
    </form>
    <div class="mt-6 text-secondary text-center">
        <a>Not a member ? <span class="hover:underline hover:text-primary cursor-pointer" (click)="switchMode()">Signup</span></a>
    </div>
  </div>
</div>
