.inputAnim {
  position: relative;
  z-index: 0;
  input {
    margin-top: 2rem;
    background: none;
    &:focus, &:not(:placeholder-shown){
      &+label {
        top: 0;
        left: 0;
        transform: translateY(0);
        transition-duration: 0.3s, 0.3s, 0.3s;
        transition-delay: 0s, 0.3s, 0s;
        transition-property: top, left, transform;
      }
    }
  }
  label {
   position: absolute;
    top: calc(50% + 1rem);
    left: 1rem;
    transform: translateY(-50%);
    transition: 0.3s;
    transition-duration: 0.3s, 0.3s, 0.3s;
    transition-delay: 0.3s, 0s, 0.3s;
    transition-property: top, left, transform;
  }
}

.error {
  position: relative;
  height: 1.5rem;
  .error-item {
    position: absolute;
    top: 0.5rem;
  }
}
