<div class="relative border grid grid-cols-6 w-full max-w-[30rem] rounded-xl bg-white bg-clip-border text-secondary shadow-lg">
  <div class="p-4 border-r-2 col-span-5">
    <div class="mb-3 flex items-center justify-between">
      <span (click)="updateTodo()" class="block cursor-pointer font-sans text-2xl font-medium leading-snug tracking-normal text-blue-gray-900 antialiased">
        {{todo.title}}
      </span>
      <button class="relative middle none center text-white mr-1 border py-1 px-3 font-sans text-xs font-bold uppercase transition-all disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              data-ripple-dark="true"
              [ngClass]="'bg-' + todo.status" (click)="changeState()">
        {{todo.status}}
        <div class="absolute z-50 top-full left-0 text-white w-full flex flex-col rounded-b" *ngIf="state">
          <span *ngFor="let item of status; index as i" class="w-full flex-1 filter hover:brightness-75 py-2"
                [ngClass]="'bg-' + item" (click)="updateStatus(item)">
            {{item}}
          </span>
        </div>
      </button>
    </div>
    <p class="block font-sans text-base font-light leading-relaxed text-gray-700 antialiased">
      {{todo.description}}
    </p>
  </div>
  <div (click)="nextPriority()" class="h-full hover:cursor-pointer flex justify-center items-center px-4 hover:bg-gray-100 rounded-r-xl" [ngClass]="'text-' + todo.priority">
    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><path fill="currentColor" d="M13.09 3.294c1.924.95 3.422 1.69 5.472.692a1 1 0 0 1 1.438.9v9.54a1 1 0 0 1-.562.9c-2.981 1.45-5.382.24-7.25-.701a39 39 0 0 0-.622-.31c-1.033-.497-1.887-.812-2.756-.77c-.76.036-1.672.357-2.81 1.396V21a1 1 0 1 1-2 0V4.971a1 1 0 0 1 .297-.71c1.522-1.506 2.967-2.185 4.417-2.255c1.407-.068 2.653.453 3.72.967q.337.163.655.32Z"/></svg>
  </div>
</div>
